.main {
  margin-top: 100px;
}

.logo-img {
  display: block;
  width: 300px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.search-input {
  display: block;
  width: 520px;
  line-height: 23px;
  padding: 10px 30px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  margin-left: auto;
  margin-right: auto;
}

.search-input:focus {
  outline: none !important;
  box-shadow: 0 0 10px #719ece;
}

.btn-wrapper {
  margin-top: 33px;
  display: flex;
  justify-content: center;
}

.btn {
  border: none;
  margin-left: 4px;
  margin-right: 4px;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}
